{% extends 'base.html' %}

{% block title %} About{% endblock %}

{% block mainContent2 %}
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>About</h1>
			<p>	Underscore Science is a place targeted at the amateur scientist.  It is a place where each is given their own lab books to record their work on projects that they drive. It is a place where they publish articles not just reporting the results of their successess, but stories recounting their missteps, stumbles, and failures; their moments of inspiration and perseverance; and their road to triumph. It is a place where community and collaboration is cherished.  It is a place we hope you can call home.</p>
		</div>
	</div>
</div>
{% endblock %}
